@import url("bootstrap.min.css");
@import url("font-awesome.min.css");
@font-face{
	font-family: "bs";  
	src :url("../fonts/bs.ttf");
}

.navbar{
	margin-bottom: 0px;
	height: 90px;
    color: #1cf40b;
    border-radius: 0px;
}

.nav{

margin-top: 20px;
    
}

.navbar-default {
    background-color: #26a03d;
    border-color: #26a03d;
    
}


.a{
	width: 100%;
	/*height: 100vh;*/
    height: 900px;
	float: left;
	/*background-image: url(../img/child7.jpg);*/
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/child7.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    
    
}

.box{
    border: 2px solid white;
    padding: 25px 30px; /*10px from top to button and 30px from left to right*/
    color: greenyellow;
    text-decoration: none;
    border-radius: 1px;
    float: right;
    margin-right: 50px;
    margin-top: 170px;
    
}
.a h4 {
font-family: "cursive";
    font-size: 20px;
}



.b{
	width: 100%;
	height: 400px;
	float: left;
	background-color: white;
	padding: 40px 0;
}

.something{
	width: 90%;
	height: 300px;
	background-color: antiquewhite;
	float: left;
   margin-left: 10px;
    font-size: 15px;
    font-family: inherit;
    color: #f35504;
    padding-left: 20px;
    padding-right: 20px;
    

}

.something h3{
    text-align: center;
    margin-top: 30px;
}

 .something p{
margin-top: 20px;
}

/*h3:after{
    width: 100px;
    height: 2px;
    background-color: white;
    display: block;
    content: "";
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;*/


footer{
	width: 100%;
	height: 500px;
	float: left;
	background-color: #010600;

}
.a h1{
	/*font-family: "bs";*/
    font-family: impact;
    padding-top: 20px;
    color: aliceblue;
    text-decoration: none;
    font-size: 90px;
    padding-left: 200px;
    font-weight:bold; 
}
.underline{
    border-bottom: 2px solid #f35504;
    transform: scaleY(0.5);
    margin-left: 120px;
    margin-right: 120px;
    padding-bottom: 20px;
}

.underlineh{
    border-bottom: 2px solid white;
    transform: scaleY(0.5);
    margin-left: 120px;
    margin-right: 120px;
    padding-bottom: 20px;
}

.some{

	text-align: left;
	color: white;
    text-align: center;

}
.list-unstyled{
    font-size: 20px;
}



.underlinef{
    border-bottom: 1px solid white;
    transform: scaleY(0.1);
    margin-left: 400px;
    margin-right: 400px;
    padding-bottom: 20px;
}

.underlinecr{

    border-bottom: 1px solid white;
    transform: scaleY(0.1);
    margin-left: 150px;
    margin-right: 150px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: #555;
}
