body{
	margin:0;
	height: 100%;
}

.nav1{
	min-height: 20px;
	background-color: solid black;
	border:0px;

}

#logo{
	float: left;
}
/*these are the */


#logo img{
	width: 100px;
	height: 60px;
	padding: 10px;
}


#nav_links{
	display: inline-block;
	float: right;
}

#nav_links li{
display: inline;
}

.nav{

	height: 78px;
	padding: 5px;
	text-align: right;

	background: white;
	
}
nav img{
	height:%;
	width: 100px;

}

nav a{
	padding:15px;
	margin-top:23px;
	text-decoration: none;
	color: green;
}

header img{
	width: 100%;
}

header{
	
	background-image:;
	min-height: 600px;
	border-radius: 5px;
	border: 2px solid black;


}


/*This style is for about us page               */

/*#nav1{
	min-height: 20px;
	background-color: solid black;
	border:0px;*/



section{
	min-height: 200px;
	width: 100%;

}
#left h1{
	background-color: black;
	margin: 0px;
	text-align: center; color: white;


}
 section> #left{
 	background: ;
 
 	border: 2px solid black;

 }
 
 section> #middle{
 	background-color:;
 	border:2px solid black;
 	
 }

  section> #right{
 	background: ;
 	
 	border: 2px solid black;
 	
 }

  section > #left,section> #middle,section >#right{
  	width:33%; 
  	height:600px;
  	
  	float: left;
  }
footer{
	bottom:0px;
	
	  text-align: right; color: white;
	  	height: 150px;
	  	overflow: hidden;
	background-color:green;
	width: 100%; 
	border-radius: 5px;
	border: 2px black;
	border-top: 3px;
	border-bottom: 3px;
}


